  
.booking-date-item {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 10px;
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item {
  flex: 0 0 100%;
}
  
